.crx5rolli-timeSummaryLabel
  clear: both
  margin-top: 5px
  &__spent,
  &__es
    float: left
    padding: 6px 8px
    color: white
    font-weight: bold
    border-bottom: 1px solid #ccc
  &__spent
    background-color: #61bd4f
    text-shadow: 0 0 1px rgba(0,0,0,.5)
  &__es
    background-color: #4d4d4d
    color: #ddd
  &__spent
    font-weight: normal
